/* App container */
.App {
    text-align: center;
  }
  
  /* Header styling */
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* Title in header */
  .header-title {
    color: purple;
  }
  
  /* Styling for each section */
  .section {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Added maximum width for better readability */
  }
  
  /* Image container */
  .image-container {
    margin-bottom: 40px; /* Increased space between image and caption */
  }
  
  /* Container for tables */
  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Wrapper for multiple images */
  .image-wrapper {
    display: flex;
    flex-direction: column; /* Display tables vertically */
    margin-bottom: 40px; /* Increased space between tables */
  }
  
  /* Individual image styles */
  img {
    max-width: 100%;
    max-height: 600px; /* Set maximum height for all images */
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }
  
  /* Zoom effect on image hover */
  img:hover {
    transform: scale(1.05); /* Scale up by 5% */
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Ensure popup is on top of everything else */
  }
  
  /* Popup content */
  .popup-content {
    max-width: 90vw; /* Adjust as needed */
    max-height: 90vh; /* Adjust as needed */
  }
  
  .popup-content img {
    max-width: 100%; /* Ensure the image fills the container */
    max-height: 100%; /* Ensure the image fills the container */
  }
  
  .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Take full viewport width */
    height: 100vh; /* Take full viewport height */
  }
  
  .popup-content img {
    max-width: 90%; /* Adjust as needed */
    max-height: 90%; /* Adjust as needed */
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    background-color: #fff;
  }
  